@import url(https://fonts.googleapis.com/css?family=Lora:700);
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
body{
  background-attachment: fixed;
  background-repeat: no-repeat;

}
.p{
  color: black;
}
#p{
  margin-left: 10px;
}
ttl{
  padding-right: 10px;
  display: block;
  list-style-type: none;
  margin: 0;
  padding:25px 27px;
  overflow: hidden;
  background-color: #333
  ;
  color:white;
}

li {
    float: right;
}


.primary {
    height:450px;
    width:318px;
    float:left;
    text-align: center;

}

.content{
    height:450px;
    width:318px;
    float:left;
    text-align: center;

}
.secondary{

    height:450px;
    width:318px;
    float:left;
    text-align: center;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 25px 27px;
    text-decoration: none;
}

li a:hover {
    background-color:black;
}
footer{
  background: black;
  color: white;
  width: 1350px;
  height:80px;
}
right
{
  float: right;
}
a{
  color:white;
}
body{
  font-family:'Lora:700',sans-serif;
  background-color: gray;

}
image
{
  position: relative;
}
imgtxt
{
  position: absolute;
   top: 200px;
   left: 0;
   width: 100%;
   color:blue;
}
